html, body {
  background-color: rgb(44, 62, 80);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  background-color: rgb(25, 117, 139);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBarHolder {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#searchBarDiv {
  color: white;
  height: 40px;
  border-radius: 25px;
  width: 250px;
  background-color: transparent;
  border: solid 2px white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBar {
  color: inherit;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

#searchBar:focus {
  outline: none;
}

#searchIcon {

}

#tempTypeDiv {
  display: flex;
  margin-left: 25px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 25px;
  color:white;
  font-family: inherit;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40px;
  box-sizing: border-box;
}

.tempType {
  margin: 0px;
  padding: 0px;
  width: 100%;
}


.tempTypeSelected {
  background-color: white;
}



#fahrenheitSelectorDiv {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#fahrenheitSelector {
  margin-right: 14px;
  margin-left: 10px;
}

#celsiusSelectorDiv {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#celsiusSelector {
  margin-right: 12px;
  margin-left: 10px;
}

#infoDiv {
  display: flex;
  flex-direction: column;
  font-family: 'Yatra One', cursive;
  color: white;
  margin-top: 20px;
  width: 95%;
  border-radius: 10px;
  border: solid 2px white;
  padding: 10px;
}

#infoHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.tempTypeUnselected {
  color: white;
}

.tempTypeUnselected:hover {
  background-color: rgba(255, 255, 255, 0.158);
}

#cityNameTitle {
}

.titleText {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.cityName {
  color: rgb(124, 124, 167);
  margin: 0px;
  padding: 0px;
  font-size: 3rem;
}

#weatherDiv {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempText {
  margin: 0px;
  padding: 0px;
}

.temperature {
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}

#tempHighLowDiv {
  display: flex;
  margin-left: 20px;
}

#tempHighDiv {
  margin-left: 10px;
  margin-right: 10px;
}

#tempLowDiv {
  margin-left: 10px;
  margin-right: 10px;
}

#weatherTypeDiv {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

.weatherTypeText {
  margin: 0px;
}

#clock {
  display: grid;
  grid-template-areas: 
  'hour minute'
  'second second';
  width: 200px;
}

.clockText {
  margin: 0px;
  padding: 0px;
}

#clockHour, #clockMinute {
  font-size: 3rem;
} 

#clockHourHolder {
  grid-area: hour;
}

#clockMinuteHolder {
  grid-area: minute;
}

#clockSecondHolder {
  grid-area: second;
}